@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
  border: 0;
  background: initial;
  outline: 0;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #8c8c8c;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1180px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 1001px) {
  body {
    height: auto;
    font-size: 18px;
  }
}
@media (max-width: 540px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 399px) {
  body {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  body {
    font-size: 12px;
  }
}

.body-wrapper {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4% 6%;
}
@media (max-width: 1100px) {
  .body-wrapper {
    padding: 6%;
  }
}
@media (max-width: 1001px) {
  .body-wrapper {
    width: 80%;
  }
}
@media (max-width: 864px) {
  .body-wrapper {
    width: 85%;
  }
}
@media (max-width: 770px) {
  .body-wrapper {
    width: 90%;
  }
}
@media (max-width: 690px) {
  .body-wrapper {
    width: 100%;
  }
}

.flow-blocks-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.flex-block {
  display: flex;
}

.txt-bold-600 {
  font-weight: 600;
}

button {
  cursor: pointer;
}

.controls-block {
  margin-bottom: 5%;
}

.control-bnt-wrap {
  display: flex;
  height: 40px;
  margin: 0 20px 30px 0;
  font-size: 0.8rem;
}

.btn-controls {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  color: #fff;
  background-color: #00A278;
}

.btn-controls_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  margin-right: 12px;
}
.btn-controls_image i {
  font-size: 30px;
}

.expand-list-wrapper {
  margin-right: 12px;
}
.expand-list-wrapper .btn-controls_lang {
  position: relative;
  width: 65px;
  height: 100%;
  padding: 10px;
  text-align: left;
  background-image: url("../assets/img/icon-drop-btn.png");
  background-position: 75% 50%;
  background-repeat: no-repeat;
  z-index: 10;
}
.expand-list-wrapper .expand-list-container {
  position: relative;
  top: -5%;
  overflow: hidden;
  z-index: 5;
}
.expand-list-wrapper .lang-list {
  position: absolute;
  top: -82%;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.8196078431);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0 3px #888;
  z-index: 11;
  -webkit-animation: 0.5s ease-out;
          animation: 0.5s ease-out;
}
.expand-list-wrapper .lang-list li {
  padding: 20%;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.expand-list-wrapper .show-list {
  -webkit-animation-name: expand;
          animation-name: expand;
}
.expand-list-wrapper .hide-list {
  -webkit-animation-name: expand;
          animation-name: expand;
  animation-direction: reverse;
}
@-webkit-keyframes expand {
  from {
    top: -82%;
  }
  to {
    top: 0;
  }
}
@keyframes expand {
  from {
    top: -82%;
  }
  to {
    top: 0;
  }
}

.btn-controls_temp-f {
  width: 40px;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-controls_temp-c {
  width: 40px;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active-deg {
  background-color: #00d59e;
}

.control-search-wrap {
  display: flex;
  height: 40px;
  border-radius: 4px;
  color: #fff;
  background-color: rgba(204, 204, 204, 0.5019607843);
}
.control-search-wrap input {
  flex-grow: 1;
  height: 100%;
  padding: 0 12px;
  color: #fff;
}
.control-search-wrap input::-webkit-input-placeholder {
  color: #fff;
}

.speech-btn {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.btn-search {
  height: 100%;
  padding: 0 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mic-animation {
  position: relative;
}
.mic-animation:before, .mic-animation:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  transform: translate(-45%, -48%);
}
.mic-animation:before {
  -webkit-animation: waveBefore 1s ease-in-out infinite;
          animation: waveBefore 1s ease-in-out infinite;
}
.mic-animation:after {
  -webkit-animation: waveAfter 1s ease-in-out infinite;
          animation: waveAfter 1s ease-in-out infinite;
}
@-webkit-keyframes waveBefore {
  to {
    transform: scale(2) translate(-30%, -30%);
    opacity: 0;
  }
}
@keyframes waveBefore {
  to {
    transform: scale(2) translate(-30%, -30%);
    opacity: 0;
  }
}
@-webkit-keyframes waveAfter {
  to {
    transform: scale(3) translate(-20%, -20%);
    opacity: 0;
  }
}
@keyframes waveAfter {
  to {
    transform: scale(3) translate(-20%, -20%);
    opacity: 0;
  }
}

.content {
  width: 60%;
  margin-right: 5%;
  font-weight: 600;
  color: #ebebeb;
}
@media screen and (max-width: 1110px) {
  .content {
    width: 100%;
  }
}

.content__head {
  font-size: 2.8em;
}

.content__date {
  display: flex;
  margin-top: 3%;
  flex-flow: wrap;
  font-size: 2em;
}

.content__day {
  margin: 0 5% 3% 0;
}

.deg-average {
  font-weight: 700;
  font-size: 0.7em;
}

.today {
  align-items: flex-end;
  margin: 5% 0 10%;
}
@media (max-width: 820px) {
  .today {
    display: block;
  }
}

.today__inner {
  margin: 0 10% 0 0;
}

.today__temperature {
  align-self: flex-end;
  margin-right: 5%;
  font-size: 10em;
  line-height: 0.8;
}
@media (max-width: 690px) {
  .today__temperature {
    font-size: 9em;
  }
}

@media (max-width: 690px) {
  .today__icon-weather {
    width: 100%;
  }
}

.today__details-wrap {
  margin-top: 5%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.today__details {
  line-height: 1.5;
}

.daily__item {
  margin-right: 5%;
}

.daily__item-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.daily__item-temperature {
  align-self: flex-end;
  font-size: 3.5rem;
}
@media (max-width: 580px) {
  .daily__item-temperature {
    font-size: 2.5em;
  }
}

.daily__item-icon-wrapper {
  margin-left: 5%;
}

@media (max-width: 580px) {
  .daily__icon-weather_size {
    width: 42px;
  }
}
@media (max-width: 340px) {
  .daily__icon-weather_size {
    width: 36px;
  }
}

.map-wrapper {
  width: 35%;
}
@media screen and (max-width: 1110px) {
  .map-wrapper {
    width: 100%;
    margin: 15% 0 0;
  }
}

#map {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
@media screen and (max-width: 1110px) {
  #map {
    height: 300px;
  }
}

.map-coords {
  padding: 5% 0 0;
  font-size: 1.5em;
  color: #fff;
}

.error-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}
@media (max-width: 690px) {
  .error-wrapper {
    width: 90%;
  }
}

.error-block {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  font-size: 1.2em;
  border-radius: 5px;
  color: #000;
  background-color: rgba(255, 239, 145, 0.9490196078);
}
.error-block label {
  display: block;
  margin-top: 20px;
  font-size: 0.9rem;
}
.error-block label input {
  margin: 0 10px 0 0;
  transform: translateY(1px);
}
.error-block .btn-close-modal {
  float: right;
  margin: 0 0 20px 20px;
  font-size: 2.5rem;
  line-height: 0.5;
}/*# sourceMappingURL=style.css.map */