.content {
  width: 60%;
  margin-right: 5%;
  font-weight: 600;
  color: #ebebeb;

  @media screen and (max-width: 1110px) {
    width: 100%;
  }
}

.content__head {
  font-size: 2.8em;
}

.content__date {
  display: flex;
  margin-top: 3%;
  flex-flow: wrap;
  font-size: 2em;
}

.content__day {
  margin: 0 5% 3% 0;
}

.deg-average {
  font-weight: 700;
  font-size: 0.7em;
}

.today {
  align-items: flex-end;
  margin: 5% 0 10%;

  @media (max-width: 820px) {
    display: block;
  }
}

.today__inner {
  margin: 0 10% 0 0;
}

.today__temperature {
  align-self: flex-end;
  margin-right: 5%;
  font-size: 10em;
  line-height: 0.8;

  @media (max-width: 690px) {
    font-size: 9em;
  }
}

.today__icon-weather {
  @media (max-width: 690px) {
    width: 100%;
  }
}

.today__details-wrap {
  margin-top: 5%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.today__details {
  line-height: 1.5;
}

.daily__item {
  margin-right: 5%;
}

.daily__item-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.daily__item-temperature {
  align-self: flex-end;
  font-size: 3.5rem;

  @media (max-width: 580px) {
    font-size: 2.5em;
  }
}

.daily__item-icon-wrapper {
  margin-left: 5%;
}

.daily__icon-weather_size {
  @media (max-width: 580px) {
    width: 42px;
  }

  @media (max-width: 340px) {
    width: 36px;
  }
}
