.controls-block {
  margin-bottom: 5%;
}

.control-bnt-wrap {
  display: flex;
  height: 40px;
  margin: 0 20px 30px 0;
  font-size: 0.8rem;
}

.btn-controls {
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  outline: none;
  color: $control_btn_color;
  background-color: $control_btn_back;
}

.btn-controls_image {
  width: 50px;
  margin-right: 10px;
  background-image: url("../assets/img/icon-change-image.png");
  background-size: cover;
}

.expand-list-wrapper {
  margin-right: 10px;

  .btn-controls_lang {
    position: relative;
    width: 65px;
    height: 100%;
    padding: 10px;
    text-align: left;
    background-image: url("../assets/img/icon-drop-btn.png");
    background-position: 75% 50%;
    background-repeat: no-repeat;
    z-index: 10;
  }

  .expand-list-container {
    position: relative;
    top: -5%;
    overflow: hidden;
    z-index: 5;
  }

  .lang-list {
    position: absolute;
    top: -82%;
    width: 100%;
    background-color: #ccccccd1;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 3px #888;
    z-index: 11;
    animation: 0.5s ease-out;

    li {
      padding: 20%;
      font-weight: 600;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .show-list {
    animation-name: expand;
  }

  .hide-list {
    animation-name: expand;
    animation-direction: reverse;
  }

  @keyframes expand {
    from {
      top: -82%;
    }
    to {
      top: 0;
    }
  }
}

.btn-controls_temp-f {
  width: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-controls_temp-c {
  width: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.active-deg {
  background-color: $active_btn;
}

.control-search-wrap {
  display: flex;
  height: 40px;

  input {
    width: 60%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    background-color: #cccccc80;
    outline: none;

    &::-webkit-input-placeholder {
      color: #fff;
    }
  }
}

.btn-search {
  width: 80px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
