.error-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 5%;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-color: #888585f2;
  border-radius: 5px;
}
