.error-wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;

  @media (max-width: 690px) {
    width: 90%;
  }
}

.error-block {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin: 20px auto;
  font-size: 1.2em;
  border-radius: 5px;
  color: #000;
  background-color: #ffef91f2;;

  label {
    display: block;
    margin-top: 20px;
    font-size: .9rem;

    input {
      margin: 0 10px 0 0;
      transform: translateY(1px);
    }
  }

  .btn-close-modal {
    float: right;
    margin: 0 0 20px 20px;
    font-size: 2.5rem;
    line-height: .5;
  }
}
