@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background-color: #8c8c8c;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 1180px) {
    font-size: 15px;
  }

  @media (max-width: 1001px) {
    height: auto;
    font-size: 18px;
  }

  @media (max-width: 540px) {
    font-size: 15px;
  }

  @media (max-width: 399px) {
    font-size: 13px;
  }

  @media (max-width: 360px) {
    font-size: 12px;
  }
}

.body-wrapper {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4% 6%;

  @media (max-width: 1100px) {
    padding: 6%;
  }

  @media (max-width: 1001px) {
    width: 80%;
  }

  @media (max-width: 864px) {
    width: 85%;
  }

  @media (max-width: 770px) {
    width: 90%;
  }

  @media (max-width: 690px) {
    width: 100%;
  }
}

.flow-blocks-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.flex-block {
  display: flex;
}

.txt-bold-600 {
  font-weight: 600;
}

button {
  cursor: pointer;
}
