@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.body-wrapper {
  height: 100vh;
  box-sizing: border-box;
  padding: 6%;
  background-image: url("../assets/img/bg-1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.flow-blocks-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

button {
  cursor: pointer;
}

.flex-block {
  display: flex;
}
