.map-wrapper {
  position: absolute;
  right: 0;
  width: 40%;
  height: 70%;
  margin: 30px;

  @media screen and (max-width: 1001px) {
    position: static;
    width: 100%;
    height: 300px;
    margin: 15% 0 0;
  }
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}